.main {
    width: 30vw;
    height: 100vh;
    border-right: 1px solid rgba(127, 255, 212, 0.8);
    display: flex;
    flex-direction: column;
    .taskLists {
        display: flex;
        flex-direction: column;
        padding: 2vh 2vw 2vh 2vw;
        font-size: x-large;
    }
    input {
        transition: box-shadow 0.2s;
    }
    input:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;
    }
    button {
        margin-top: auto;
    }
}
