.taskListGroup {
    display: flex;
    flex-direction: row;
    .taskList {
        margin-bottom: 1vh;
        transition: box-shadow 0.2s, background-color 0.2s;
        background-color: rgba(245, 245, 245, 0.8);
        padding: 0 1vw 0 1vw;
        border-radius: 1rem;
        width: 20vw;
    }
    .taskList:hover,
    .taskList:focus {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: whitesmoke;
    }
    span {
        margin-left: auto;
    }
    img {
        border-radius: 50%;
        background-color: rgba(245, 245, 245, 0.8);
        transition: box-shadow 0.2s, background-color 0.2s;
        height: 2rem;
        margin-left: 0.5vw;
    }
    img:hover,
    img:focus {
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: whitesmoke;
    }
    input {
        padding: 0 1vw 0 1vw;
        width: 20vw;
    }
}
