div {
    width: 100vw;
    height: 100vh;
    
    
    form {
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
        display: flex;
        flex-direction: column;
        .failedLogin {
            font-size: large;
            text-align: right;
        }
    }
}
