.header {
    display: flex;
    flex-direction: row;
    h1 {
        width: 55vw;
        margin: 2vh 0 2vh 2vw;
        border-bottom: 1px solid rgba(127, 255, 212, 0.8);
    }
    button {
        margin-left: 2vw;
        margin-top: auto;
        height: 1.5em;
    }
}
.tasks {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw 2vh 2vw;
    font-size: x-large;
}
input {
    transition: box-shadow 0.2s;
}
input:hover,
input:focus {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
