h1 {
    background-color: whitesmoke;
    width: 67vw;
    padding: 2vh 0 2vh 2vw;
    margin: auto;
    background-image: url("../../../../assets/abstract-background-paint-colorful-header.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.tasks {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw 2vh 2vw;
    font-size: x-large;
}
input {
    transition: box-shadow 0.2s;
}
input:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}