@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*:focus {
    outline: none;
}
html,
body {
    margin: 0;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: lemonchiffon;
}
input {
    font-size: x-large;
}
textarea {
    font-size: large;
    overflow: hidden;
}
input,
textarea {
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: rgba(245, 245, 245, 0.8);
    transition: background-color 0.2s;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0 1vw 0 1vw;
    resize: none;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: none;
    background-color: whitesmoke;
}