@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*:focus {
    outline: none;
}
html,
body {
    margin: 0px;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
    background-color: lemonchiffon;
    height: 100%;
    background-image: url("assets/abstract-background-paint-colorful.jpg");
    background-size: cover;
}
input {
    font-size: x-large;
}
textarea {
    font-size: large;
    overflow: hidden;
}
input,
textarea {
    font-family: 'Quicksand', sans-serif;
    border: none;
    background-color: rgba(245, 245, 245, 0.8);
    transition: background-color 0.2s;
    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 0 1vw 0 1vw;
    resize: none;
}
input:focus,
input:hover,
textarea:focus,
textarea:hover {
    outline: none;
    background-color: whitesmoke;
}
button {
    border: none;
    background: none;
    font-size: x-large;
    border-radius: 1rem;
    margin-bottom: 1vh;
    cursor: pointer;
    background-image: url("assets/abstract-background-paint-colorful.jpg");
    background-size: cover;
    filter: invert(1);
    transition: box-shadow, background-color 0.2s;
}
button:hover,
button:focus {
    box-shadow: rgb(153, 153, 153) 0px 5px 15px;
}